.default {
    display: flex;
    flex-direction: column;
    
    color: #fff;
    &:visited { color: #fff; }
    text-decoration: none;
    border: 1px solid #fff;

    * {
        margin: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    .date {
        color: #aaa;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        gap: 1rem;
    }
}