:root {
    --white: #fff;
    --color-1: #B5FFE1;
    --color-2: #93E5AB;
    --color-3: #65B891;
    --color-4: #4E878C;
    --color-5: #00241B;
}

body {
    background-color: #00241B;
    color: #fff;
    font-family: monospace;
    margin: 0;
    height: 100svh;
}

a {
    color: #93E5AB;

    &:visited {
        color: #4E878C;
    }
}