.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: stretch;
    gap: 5em;
}

.profile {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;

    h1 {
        margin-bottom: 0;
        font-size: 3em;
    }

    .sub {
        font-size: 1.25em;
    }
}

.posts {
    flex: 1;
    display: flex;
    flex-direction: column;

    max-width: 900px;
    width: 100%;
}

.list {
    list-style-type: none;
    padding: 0;
}