.tile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    text-align: left;
    align-items: stretch;
    max-width: 600px;

    .thumbnail {
        display: flex;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 1rem;
        height: auto;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .filter {
            display: flex;
            flex: 1;
            background-color: rgba(245, 222, 179, 0.2);
            backdrop-filter: saturate(0%);
            transition: .2s ease;
            z-index: 1;
        }
    }

    &:hover .filter {
        backdrop-filter: saturate(100%);
        background-color: transparent;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;

        h1 {
            font-size: 2em;
        }

        .description {
            flex: 1;
        }

        .links {
            display: flex;
            flex-direction: column;
            margin: 1em 0;
        }
    }
}