---
import Layout from "../../layouts/layout.astro";

const meta = {
    title: "Resume",
    description: "Interested in seeing every little thing I've worked on? Take a look at my resume!"
}
---

<Layout {...meta}>
    <h2>Here's my resume.</h2>
    <p>Interested in seeing every little thing I've worked on? Take a look at my resume! If you want more information or samples, feel free contact me!</p>
    <ul>
        <li><a href="https://drive.proton.me/urls/FFJ8W83G5W#cIW1aql4iBhm">Resume of Hazel (English, US)</a></li>
        <li><a href="https://drive.proton.me/urls/473ZN35WJM#oELXx5VNteX9">Resume of Hazel (Dutch)</a></li>
    </ul>
</Layout>