---
import Layout from "../../layouts/layout.astro";
---

<Layout title="Resume">
    <h2>Well... that's embarrassing.</h2>
    <p>So sorry to disappoint, looks like I'm still typing out my resume! Check back soon, I'll probably be able to show off a little more ;)</p>
</Layout>