---
import Project from "../components/project.astro";
import Layout from "../layouts/layout.astro";
import WhoAmI from "./whoami.astro";

const projects = await Astro.glob('./projects/*.md');
---

<Layout title="Hazel, that's me.">
	<main>
		<div class="top">
			<h1><a href="./name">Hazel</a>, that's me.</h1>
			<div>
				<a href='https://webring.queercoded.dev/prev?source=hazelthats.me'>{`<-`}</a>
				<i>Part of the QueerCoded webring.</i>
				<a href='https://webring.queercoded.dev/next?source=hazelthats.me'>{`->`}</a>
			</div>
		</div>

		<WhoAmI />
		
		<h2>Here's what I've worked on.</h2>
		<div class="showcase">
			{projects.map((project) =>
				<Project {...project.frontmatter} content={project.compiledContent()} />
			)}
		</div>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 3em;
	}

	main h2 {
		margin: 0;
	}

	.top {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.top h1 {
		font-size: 3em;
		white-space: no-wrap;
		flex: 1;
	}

	.webring-thing {
        display: flex;
        flex: 1;
        width: 88px;
        height: 31px;
        background-size: cover;
    }

    .webring-thing a {
        display: block;
        flex: 1;
    }

	.showcase {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: start;
		align-items: stretch;
		gap: 2rem;
		margin: 2rem auto;
		width: 100%;
	}

	@media screen and (max-width: 650px) {
		.showcase {
			grid-template-columns: 1fr;
		}
	}
</style>
