---
import Project from "../components/project.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Hazel, that's me.">
	<main>
		<h1><a href="./blog/name">Hazel</a>, that's me.</h1>

		<h2>Here's what I've worked on.</h2>

		<div class="showcase">
			<Project image="/projects/celesteia.jpg">
				<Fragment slot="links">
					<a href="//www.celesteia.com">Visit celesteia.com</a>
				</Fragment>
				<h1>Celesteia</h1>
				<i
					>Game made using C# (MonoGame), website made using
					JavaScript (React).</i
				>
				<p>
					A 2D sandbox game featuring procedural world generation and
					resource management systems, presented as my final high
					school project. The method of managing the project has
					changed the teaching methods of computer science at the
					school, acting as an approachable project management method.
					This project won the school's award for Best Project in the
					Sciences.
				</p>
			</Project>
			<Project image="/projects/tosc.jpg">
				<Fragment slot="links">
					<a href="//theopensource.company"
						>Visit theopensource.company</a
					>
				</Fragment>
				<h1>The Open Source Company</h1>
				<i>Website made using JavaScript (React).</i>
				<p>
					A collective advocating for libre software and a web built
					on transparency, started by two of my friends and myself.
					With The Open Source Company, I've designed the collective's
					website, Kards, Playrbase and recently brought leafal.io
					under its banner.
				</p>
			</Project>
			<Project image="/projects/ruleset.jpg">
				<h1>Dutch SSBU Ruleset</h1>
				<i>Layout made using HTML/CSS.</i>
				<p>
					The Dutch Super Smash Bros. Ultimate community plays by the
					rules set in a unified ruleset. Most tournaments use this
					graphic I produced when the ruleset was released. Not very
					relevant to the rest of my work, but still pretty cool.
				</p>
			</Project>
		</div>

        <h2>Here's what I use to get the job done.</h2>
        <div class="languages">
            <a href="//github.com/leafeling" target='_blank'>
                <img
                    src="https://github-readme-stats.vercel.app/api/top-langs/?username=leafeling&theme=dark&bg_color=0000&disable_animations=true&hide_border=true&hide_title=true&text_bold=true&langs_count=12&layout=compact"
                    alt="Language statistics, unfortunately can't really grab the content for readability."
                />
            </a>
        </div>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		max-width: 1520px;
		display: flex;
		flex-direction: column;
		gap: 1em;
		text-align: center;
	}

	main > h1 {
		margin: 5rem;
		font-size: 3em;
		white-space: no-wrap;
	}

	main > h2 {
		margin: 0;
		font-size: 1.25em;
		white-space: no-wrap;
		font-weight: normal;
	}

	.showcase {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		gap: 2rem;
		margin: 2rem auto;
		width: 100%;
	}

	@media screen and (max-width: 650px) {
		.showcase {
			grid-template-columns: 1fr;
		}
	}

	.socials {
		gap: 3em;
		margin: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.socials a {
		transform: scale(2);
	}

	.languages {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.languages a {
		display: flex;
		flex: 1;
		min-width: 200px;
		max-width: 400px;
	}

	.languages img {
		width: 100%;
		filter: saturate(150%);
	}
</style>
