---
import moment from "moment";
---
<p>
    I'm {moment().diff('2004-03-01', 'years')} years old, I live in the Netherlands, and I love to program!
    In my day-to-day life I work as a systems administrator, enjoy tinkering with computers on both the hardware and software sides, chatting online and playing games with my friends.
</p>

<p>
    I'm a big advocate for using free and open source software, living with online and digital privacy, and self hosting tools and services.
</p>