---
type Props = {
    src: string;
    title?: string;
    href?: string;
};
const { src, title, href } = Astro.props;
---

<span class="badge">
{
    href !== undefined ? (
        <a href={href} aria-label={title} class="badge">
            <img src={src} alt="" />
        </a>
    ) : (
        <img src={src} alt="" />
    )
}
</span>

<style>
    a {
        text-decoration: none;
    }
</style>
