---
import Layout from "./layout.astro";
const { frontmatter } = Astro.props;
---

<Layout {...frontmatter}>
    <article>
        <h1>{frontmatter.title}</h1>
        <i class="pub">{new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        })}</i>
        <slot />
    </article>
</Layout>

<style>
    article h1 {
        font-size: 2em;
    }
</style>