---
import Badges from "../components/badges.astro";
const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="data:," />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description ?? ""} />
    </head>
    <body>
        <div id="content">
            <header>
                <h1><a href="/name">Hazel</a>, that's me.</h1>
                <div>
                    <a href="/">Home</a> | <a href="/projects">Projects</a>
                </div>
            </header>
            <main>
                <slot />
            </main>
            <footer>
                <div>
                    <a
                        href="https://webring.queercoded.dev/prev?source=hazelthats.me"
                        >{`<-`}</a
                    >
                    <i>Part of the Queer Coded webring.</i>
                    <a
                        href="https://webring.queercoded.dev/next?source=hazelthats.me"
                        >{`->`}</a
                    >
                </div>

                <div class="badges">
                    <Badges />
                </div>
            </footer>
        </div>
    </body>
</html>
<style is:global>
    body {
        background-color: black;
        color: white;
        font-family: monospace;
        font-size: 16px;
    }

    #content {
        margin: 1rem auto;
        width: 90vw;
        max-width: 1000px;
    }

    main {
        margin: 5rem 0;
    }

    h1 {
        font-size: 4em;
        margin: 0;
    }

    h2 {
        font-size: 2em;
        margin: 0;
    }

    header, footer {
        text-align: center;
    }
    
	.badges img {
		margin: 5px;
	}
</style>
