---
import "../styles/global.css"
import Badges from "../components/badges.astro";
const { title, description, tags } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}{title && ' | '} Hazel, that's me.</title>
        <meta name="description" content={description ?? ""} />
        <meta name="keywords" content={tags} />
    </head>
    <body>
        <header>
            <div class="title"><a href="/posts/2023-10-06">Hazel</a>, that's me.</div>
            <div>
                <a href="/" title="My homepage">Home</a>
		|
		<a href="/now" title="Now">Now</a>
		|
                <a href="/posts" title="Blog posts I've made">Posts</a>
                |
                <a href="/projects" title="Projects I've worked on">Projects</a>
            </div>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <i>Favicon by <a href="https://github.com/dvrossen">DvRossen</a></i>

            <div class="webring">
                <a
                    href="https://webring.queercoded.dev/prev?source=hazelthats.me"
                    >{`<-`}</a
                >
                <i>Part of the <a href="https://webring.queercoded.dev">Queer Coded webring</a>.</i>
                <a
                    href="https://webring.queercoded.dev/next?source=hazelthats.me"
                    >{`->`}</a
                >
            </div>

            <div class="badges">
                <Badges />
            </div>
        </footer>
    </body>
</html>

<style>
    .title {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .webring {
        margin-bottom: 1rem;
    }

    .badges img {
        margin: 5px;
    }

</style>
