---
import Badges from "@/components/badges.astro";
const { title, description, tags } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}{title && ' | '} Hazel, that's me.</title>
        <meta name="description" content={description ?? ""} />
        <meta name="keywords" content={tags} />
    </head>
    <body>
        <div id="content">
            <header>
                <span class="tag"><a href="/posts/2023-10-06">Hazel</a>, that's me.</span>
                <div>
                    <a href="/" title="My homepage">Home</a>
                    |
                    <a href="/projects" title="Projects I've worked on">Projects</a>
                    |
                    <a href="/resume" title="My resume in printable formats">Resume</a>
                </div>
            </header>
            <main>
                <slot />
            </main>
            <footer>
                <i>Favicon by <a href="https://github.com/dvrossen">DvRossen</a></i>

                <div>
                    <a
                        href="https://webring.queercoded.dev/prev?source=hazelthats.me"
                        >{`<-`}</a
                    >
                    <i>Part of the Queer Coded webring.</i>
                    <a
                        href="https://webring.queercoded.dev/next?source=hazelthats.me"
                        >{`->`}</a
                    >
                </div>

                <div class="badges">
                    <Badges />
                </div>
            </footer>
        </div>
    </body>
</html>
<style is:global>
    body {
        background-color: black;
        color: white;
        font-family: monospace;
        font-size: 16px;
    }

    #content {
        margin: 1rem auto;
        width: 90vw;
        max-width: 1000px;
    }

    main {
        margin: 5rem 0;
    }

    .tag {
        font-size: 4rem;
        font-weight: bold;
    }

    header, footer {
        text-align: center;
    }
    
	.badges img {
		margin: 5px;
	}

    a {
        color: cyan;
    }

    a:visited {
        color: aquamarine;
    }

    code {
        background-color: gray;
        color: white;
    }

    pre {
        padding: 1em;
    }

    pre code {
        background-color: transparent;
    }
</style>
